*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --dark_green:  #022716;
    --light-green:#0f5133fa;
    --white:white;
    --lightbg:hsla(0, 61%, 44%, 0.144);
    --dark-red:#51190ff6;
    --grey: rgba(235, 230, 230, 0.854);

}
body{
    overflow-x: hidden;
}

/* .navigation{
    padding: 10px;
    background-color:var(--light-green) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
 /* .socials {
    margin-inline:20px;
} */

/* .inputarea{
    display: flex;
    justify-content: space-between;
    background-color:var(--grey);
    padding: 5px;
    align-items: center;
} */
/* .input-bar{
    outline: none;
    border: none;
    background: transparent;
    flex: 1;
    padding: 5px;
    font-weight: 400;
    font-size: 18px;
    border-radius: 20px;
}
.addicon{
    border: none;
    outline: none;
    padding: 10px 30px;
    border-radius: 50px;
    color: var(--white);
    font-size: 18px;
    background-color: var(--light-green);
}
.addicon:hover {
    background-color: var(--dark_green);
    color: var(--white);
} */
.logo{
    width: 80px;
    height:80px;
    border-radius: 50%;
}
.profile{
    width:50px;
    height:50px;
    border-radius:50%;
    margin-left: 60px;
}
.navarea{
    position: fixed;
}
.uppersection{
    background-image:url(images/sweet-potato-2086784_1280.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:100% 100%;
    height: 120vh;
    position: relative;
}
.link-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
  color:white;
  flex:1;
  list-style: none;
}
a{
    font-size: 18px;
    font-weight: 500;
    margin-left: 5px;
    text-decoration: none;
}
 .links:hover{
    color: var(--dark-red);
}

.cart-container{
    display: flex;
    align-items: center;
    justify-self: end;
    margin-left:30px ;
    margin-right: 30px;
}
.banner-statement{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 30%;

}
.big{
    color:white;
    font-size: 40px;
    font-weight: 500;
    
  
}
.small{
    color: var(--white);
    font-size: 50px;
    font-weight: 500;
}
.secondsection-container{
    text-align: center;
    color: var(--dark-red);
    font-size: 20px;
    background-color: var(--grey);
}
.second-section{
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    
}
#product{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    padding-bottom:5px;   
 }
#product-image {
    height: 300px;
    padding-bottom:10px;
 }
 #product-image {
    height: 300px;
    padding-bottom:10px;
 }
 #product-image  img{
    background-size: 100% 100%;
    width: 100%;
    height: 300px;
    border-radius: 5%;
 }
 .product-description{
    /* border-bottom: 2px solid var(--dark-red); */
    padding-top:10px;
    padding-bottom: 10px;
 }
 .productname{
    font-size:large;
    font-weight: 800;
    color: #8d1308;
    padding-bottom: 5px;
 }
 .price{
    color: green;
    font-weight: 900;
    font-size: large;
 }
  button{
     padding: 10px 20px;
     outline: 2px double goldenrod;;
     background:#022716;
     color:white;
     border-radius: 20px;
     color: goldenrod;
  }

